@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  /* -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; */
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
