@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  /* -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; */
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.b{
  background-image: linear-gradient(to right, black 10%, rgba(0, 0, 0, 0) 0%);
  background-position: bottom;
  background-size: 15px 2px;
  background-repeat: repeat-x;
}
.Black{
  background: black;
}
.Red{
  background: red;
}
.Green{
  background: green;
}
.Blue{
  background: blue;
}
.Yellow{
  background: yellow;
}
.Magenta{
  background: magenta;
}
.Cyan{
  background: cyan;
}
.Gray{
  background: gray;
}
.White{
  background: white;
}